/* [html - What is the browser-default background color when selecting text? - Stack Overflow](https://stackoverflow.com/questions/16094837/what-is-the-browser-default-background-color-when-selecting-text/16094931#16094931) */

/* [::selection - CSS: カスケーディングスタイルシート | MDN](https://developer.mozilla.org/ja/docs/Web/CSS/::selection) */

/* [Color Palette: #2D3250 #424769 #7077A1 #F6B17A - Color Hunt](https://colorhunt.co/palette/2d32504247697077a1f6b17a) */

@font-face {
    font-family: "Sarasa Mono TC";
    src: url("../fonts/SarasaMonoTC-Regular.ttf");
}

body {
    background-color: #424769;
    color: #F6B17A;
    font-family: "Sarasa Mono TC";
    
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* height: 100vh; */
    width: 100vw;
}

a {
    color: inherit;
}

.row-title {
    background-color: #2D3250;
    height: 420px;
}

.row-chart-a {
    background-color: #424769;
    height: 1200px;
}

.row-chart-b {
    background-color: #2D3250;
    height: 1200px;
}

.col-infomation {
    height: 400px;
    /* background-color: black; */
}

.title {
    color: #E7AB79;
}

.description {
    color: #E3CCAE;
}

.col-chart {
    height: 1000px;
    width: 980px;
    background-color: #7077A1;
}

::selection {
    /* color: white; */
    background-color: #7077A1;
}

@media ( max-width: 1560px ) {
    .col-infomation { display: none; }
}